<%= form_for(@ip_asset) do |f| %>
  <% if ip_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ip_asset.errors.count, "error") %> prohibited this ip_asset from being saved:</h2>
      <ul>
        <% ip_asset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :abstract %>
    <%= f.text_area :abstract %>
  </div>
  <div class="field">
    <%= f.label :ip_asset_file %>
    <%= f.file_field :ip_asset_file %>
  </div><br />

  <div class="field">
    <%= f.label :visibility %> &nbsp;&nbsp;
    <%= f.label :visibility,"Public", :value => "Public" %>
    <%= f.radio_button :visibility,"public" %>&nbsp;&nbsp;
    <%= f.label :visibility,"Private", :value => "Private" %>
    <%= f.radio_button :visibility, "Private" %>
  </div>

<div id="ownerships">
  <% f.fields_for :ownerships do |ownership_form| %>
   <%= render 'ownership_fields' ,f: ownership_form%>
  <% end %>
  <div class="links">

  <%= link_to_add_association 'Add Owner',f,:ownerships %>
  </div>
  </div>
   
    <%# ownership_form.fields_for :users do |user_form| %>
      <!-- <p> -->
      
        <%# user_form.label :username, "User name" %>
        <%# user_form.text_field :username %>
      <!-- </p> -->
    <%# end %>


  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>
